{% extends 'common.html' %}

{% block title %}
  Задание № 8
{% endblock %}

{% block header %}
  Задание № 8
{% endblock %}

{% block content %}
  <form action="{{ url_for('task8') }}" method="post">
    {% with messages = get_flashed_messages(with_categories=false) %}
      {% if messages %}
        {% for message in messages %}
          <div style="text-align: center; font-size: 24px;">{{ message }}</div>
          <a href="{{ url_for('task8') }}">Назад</a>
        {% endfor %}
      {% else %}
        <p class="text">Создать страницу, на которой будет форма для ввода имени и кнопка "Отправить"</p>
        <p class="text">При нажатии на кнопку будет произведено перенаправление на страницу с flash
          сообщением, где будет выведено "Привет, {имя}!".</p>
        <input type="text" name="name" placeholder="Введите имя">
        <input type="submit" value="Отправить">
      {% endif %}
    {% endwith %}
  </form>
{% endblock %}